{% extends 'admin_generic.html' %} {% block content %}{%include 'std_nav.html'%}

<section class="section dashboard">
  <div class="row">
    <!-- Full-width column -->
    <div class="col-lg-12">
      <!-- Revenue Card -->
      <div class="card info-card p-3 revenue-card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="ps-3">
              <h6>Available Bursaries</h6>

              <div class="container">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th class="col-1">#</th>
                      <th class="col-3">Title</th>
                      <th class="col-2">Amount</th>
                      <th class="col-4">Student</th>
                      <th class="col-2">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if bursaries %} {% for bursary in bursaries %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ bursary.title }}</td>
                      <td>{{ bursary.amount }}</td>
                      <td>
                        <select name="student_id" class="form-select">
                          <option value="" selected disabled>
                            Select student
                          </option>
                          {% if students %} {% for student in students %}
                          <option value="{{ student.student_id }}">
                            {{ student.student_id }}
                          </option>
                          {% endfor %} {% else %}
                          <option value="" disabled>
                            No students available
                          </option>
                          {% endif %}
                        </select>
                      </td>
                      <td>
                        {% for student in students %}
                        <a
                          href="{% url 'std:apply_for_bursary' bursary.pk student.id %}"
                        >
                          {% endfor %} Apply
                        </a>
                      </td>
                    </tr>
                    {% endfor %} {% else %}
                    <tr>
                      <td colspan="5" class="text-center">
                        <h6 class="small pt-2">No bursaries at the moment</h6>
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- End Revenue Card -->
      </div>
    </div>
    <!-- End Full-width column -->
  </div>
</section>

{% endblock content %}
